repos:
  - repo: https://github.com/psf/black
    rev: 24.10.0  
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8  
    hooks:
      - id: prettier
        args: ["--write", "."]
        types: [javascript, java, json, html, css]